/* animations.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideUp {
  animation: slideUp 1s ease-in-out;
}


.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pop-up {
  background: #111;
  border-radius: 10px;
  box-shadow: -4px 4px 8px rgba(255, 140, 0, 1), /* Orange shadow */
  4px -4px 8px rgba(30, 144, 255, 1); /* Blue shadow */

  max-width: 90%;
  width: 100%;
  padding: 20px;
  position: relative; 
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-box, .right-box {
  flex: 1;
}

.header h2 {
  color: #1788ae;
  font-size: 2rem;
}

.content p, .content ul {
  color: #fff;
  font-size: 1rem;
}

.slogan {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.skill-item {
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.close-btn {
  background: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  position: absolute; 
  top: 10px;
  right: 10px;
  font-size: 1rem; /* Adjust font size for better visibility */
  width: 40px; 
  height: 40px; /* Set a fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px rgba(30, 144, 255, 1); /* Add shadow for better visibility */
}

.mern-stack {
  margin-top: 20px;
}

.stack-icons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.stack-icons svg {
  width: 50px; 
  height: 50px; 
}


/* Media Queries */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .stack-icons svg {
    width: 40px; /* Smaller width for tablets */
    height: 40px; /* Smaller height for tablets */
  }

  .left-box, .right-box {
    width: 100%;
  }

  .header h2 {
    font-size: 1.5rem;
  }

  .content p, .content ul {
    font-size: 0.9rem;
  }

  .slogan {
    font-size: 1rem;
  }

  .skill-item {
    font-size: 0.8rem;
  }

  .close-btn {
    top: 5px; 
    right: 5px; 
    width: 35px; 
    height: 35px; 
    font-size: 0.9rem; 
  }
}

@media (max-width: 480px) {
  .pop-up {
    padding: 10px;
  }
  .stack-icons svg {
    width: 30px; /* Even smaller width for mobile */
    height: 30px; /* Even smaller height for mobile */
  }
  .header h2 {
    font-size: 1.2rem;
  }

  .content p, .content ul {
    font-size: 0.8rem;
  }

  .slogan {
    font-size: 0.9rem;
  }

  .skill-item {
    font-size: 0.7rem;
  }

  .close-btn {
    top: 5px; 
    right: 5px; 
    width: 30px;
    height: 30px; 
    font-size: 0.8rem; 
  }
}