@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito:wght@300;400;600;700;800;900&family=Russo+One&family=Spartan:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .hero-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .text-div {
    position: relative;
    z-index: 1;
  }
    /* Media queries for responsive canvas */
@media (max-width: 1024px) {
  .hero-canvas {
    height: 90%; /* Adjust height for tablets */
  }
}

@media (max-width: 768px) {
  .hero-canvas {
    height: 80%; /* Adjust height for smaller tablets */
  }
}

@media (max-width: 480px) {
  .hero-canvas {
    height: 70%; /* Adjust height for mobile devices */
  }
}

  